@import "tailwindcss";
@plugin "daisyui";


@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUpFade 0.9s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

@keyframes shineSweep {
  0% {
    transform: translateX(-120%) skewX(-20deg);
  }
  100% {
    transform: translateX(220%) skewX(-20deg);
  }
}

.shine-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transform: translateX(-120%) skewX(-20deg);
}

.shine-effect:hover::before {
  animation: shineSweep 0.9s ease-out;
}